/* FONTS */
/* 
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300.00.00&display=swap');
.-comfortaa-light  { font-family: 'Comfortaa', cursive; font-weight: 300; }
.-comfortaa		   { font-family: 'Comfortaa', cursive; font-weight: 500; }
.-comfortaa-bold   { font-family: 'Comfortaa', cursive; font-weight: 700; }

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300.00.00&display=swap');
.-sourcesans-light  { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; }
.-sourcesans		{ font-family: 'Source Sans Pro', sans-serif; font-weight: 600; }
.-sourcesans-bold   { font-family: 'Source Sans Pro', sans-serif; font-weight: 900; } 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300.00.00&display=swap');
.-roboto-light  { font-family: 'Roboto', sans-serif;font-weight: 300; }
.-roboto        { font-family: 'Roboto', sans-serif;font-weight: 500; }
.-roboto-bold   { font-family: 'Roboto', sans-serif;font-weight: 900; }
