<template>
    <div id="faq" class="-row" style="background:@FOREGROUND;">
        <div class="-row" style="height:35vh; background-image:url(img/img_bg_2.jpg);background-size:cover;background-position: center center"></div>
        <div class="-row -content-center" style="padding:8em 0 40vh 0">
            <!-- TITLE -->
            <div class="-row -content-center">
                <b style="font-size:4em;opacity:.05">COMO FUNCIONA?</b></br>
                <div class="-roboto-bold" style="font-size:1.5em; transform:translateY(-1.5em);color:@SPAN">COMO FUNCIONA?</div>
            </div>
            <div class="-flex">
                <div class="-col-3 --acordeon"></div>    
                <div class="-col-6 --acordeon">
                    
                    <div class="--title"><span>Como me inscrevo nos cursos?</span><img src="img/icons/back.svg"/></div>              
                    <div class="--content">
                        <p>
                            Realize seu cadastro aqui no site (caso seja sua primeira compra online conosco)<br>
                            Concluído o cadastro, adicione os cursos de sua escolha em seu carrinho<br>
                            Finalize a compra, optando pela forma de pagamento<br>
                            No caso depósito, TED, DOC ou transferência bancária, envie o comprovante para nosso e-mail ou whatsapp<br>
                        </p>
                    </div>

                    <div class="--title"><span>Como funciona o curso online ao vivo?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            A cada aula você receberá por e-mail o link de acesso. Contará com todo o suporte técnico da nossa equipe para qualquer auxílio que necessite. Assistirá a aula ao vivo (vídeos, slides, imagem e som do professor), poderá interagir com o ministrante e os outros participantes via chat. A gravação da aula será disponibilizada posteriormente, apenas aos alunos matriculados previamente, em horário livre - sendo a liberação enviada no dia seguinte. Durante a aula, teremos alguns pequenos intervalos de poucos minutos para a gravação e hidratação do professor e um intervalo de até 20 minutos para que o ministrante possa se alimentar. Utilize também esse momento para se movimentar, alimentar e descansar a vista da tela.
                        </p>
                    </div>

                    <div class="--title"><span>E se eu não puder assistir a aula ao vivo?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Todas as aulas são gravadas e disponibilizadas pelo período permitido para a revisão em horário livre, dependendo da configuração do curso que você está participando. Possuímos controle de IP, dessa forma, a revisão funcionará em qualquer computador ou notebook, com as configurações mínimas especificadas.
                        </p>
                    </div>
                    
                    <div class="--title"><span>Quais os recursos computacionais que preciso ter em meu computador?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>    
                            Para participar dos cursos online ao vivo da Fonoaudialogo você precisará:
                            <ul>
                                <li>Computador com conexão à internet – banda larga velocidade mínima 2Mbps (para obter uma boa conexão com som e imagem)</li>
                                <li>Software Windows 8, 10  -Apple, MAC OS X (versão 10.7, 10.8, 10.9, 10.10 e 10.11) </li>
                                <li>Plug-in do aplicativo JAVA 6 e cookies habilitados</li>
                                <li>Placa de som</li>
                                <li>Caixa de som ou fone de ouvido</li>
                                <li>Navegador: Explorer (versão 6,7,8,9 e 10), Google Chrome (última versão), Firefox (Mozilla- última versão); Safari (versão 5 e 6) </li>
                                <li>Processadores Intel ou AMD (2GHz ou superior)</li>
                                <li>Mínimo de 512 MBytes memória RAM (2GBytes)</li>
                                <li>Recomendado ActiveX habilitado e destravado para Internet Explorer</li>
                            </ul>
                        </p>
                    </div>
                    
                    <div class="--title"><span>Consigo assistir a aula de celular ou tablet?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Sim! Todas as aulas ao vivo podem ser assistidas de qualquer dispositivo móvel conectado à internet através do app Cisco Webex Meeting. Baixe o aplicativo e siga o tutorial de instalação que enviamos por e-mail junto a liberação dos links da aula. Qualquer dúvida pode entrar em contato conosco, ficaremos felizes em te ajudar.
                        </p>
                    </div>
                    
                    <div class="--title"><span>Como posso saber a velocidade e minha conexão?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Você poderá testar a velocidade de sua conexão por sites como www.speedtest.net. Sua velocidade mínima de upload deve ser de 2Mbytes, para poder carregar a plataforma. Para garantir um bom desempenho, e evitar travamentos de áudio e vídeo o recomendável é 10Mbytes. 
                        </p>
                    </div>
                    
                    <div class="--title"><span>Como eu tiro minhas dúvidas sobre o conteúdo da aula?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Na aula ao vivo você poderá enviar suas dúvidas ao professor pelo chat e esclarecer suas dúvidas em tempo real. Sua câmera e áudio não estarão ativos, proporcionando total privacidade de seu ambiente de estudos. Caso assista somente pela gravação, poderá enviar suas dúvidas diretamente ao professor ou à Fonoaudialogo e será respondido ou na aula seguinte ao vivo (ficando gravada a resposta) ou por e-mail. As perguntas relativas ao curso poderão ser realizadas a qualquer momento durante a aula. Não esqueça que assim como nos cursos presenciais, devemos nos portar com linguagem adequada à uma sala de aula e evitar conversas (via chat) que possam atrapalhar os demais participantes
                        </p>
                    </div>
                    
                    <div class="--title"><span>Como pode ser realizado o pagamento do(s) curso(s) que escolhi?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            O pagamento dos cursos poderá ser realizado por depósito bancário, transferência, DOC ou TED, boleto bancário ou cartão de crédito – via PagSeguro
                        </p>
                    </div>
                    
                    <div class="--title"><span>Quando recebo a Nota Fiscal?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Você receberá a Nota Fiscal Eletrônica ao término do curso, ou no caso de parcelamento via boleto, ao término do seu plano de pagamento.<br>
                            A nota fiscal poderá ser emitida para Pessoa Física ou Pessoa Jurídica, conforme sua escolha no ato de compra.
                        </p>
                    </div>
                    
                    <div class="--title"><span>Posso deduzir os cursos da Fonoaudiálogo no Imposto de Renda?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Conforme as normas do Imposto de Renda, os cursos livres não são dedutíveis como despesas com instrução, mas se forem comprovadamente necessários para que a profissional exerça sua profissão, poderão SIM ser deduzidos como despesas no livro-caixa.
                        </p>
                    </div>
                    
                    <div class="--title"><span>Quando recebo o certificado?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            O certificado digital será emitido até 15 dias após o término do curso. Você receberá em seu e-mail e poderá fazer download no site.<br>
                            Conforme a Lei nº. 9394/96 (Lei de Diretrizes e Bases da Educação), o Decreto nº. 5.154/04 e a Deliberação CEE 14/97 (Indicação CEE 14/97) os cursos livres enquadram-se na categoria de formação continuada ou qualificação profissional, proporcionando ao aluno conhecimentos que lhe permite inserção no mercado de trabalho ou aperfeiçoamento de seus conhecimentos em área especifica, não necessitam de reconhecimento do Conselho de Educação competente.
                        </p>
                    </div>

                    
                    <div class="--title"><span>Como é o funcionamento da videoaula?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Você poderá se inscrever nas videoaulas a qualquer momento! Após adquirir uma videoaula da Fonoaudiálogo, você receberá um e-mail com os links de acesso ao curso e a senha de acesso.<br>
                            Você terá 30 dias para assistir ao curso. Após esse período será contabilizada sua presença em cada um dos links. Totalizando a frequência mínima de 75% da carga horária total, você receberá por e-mail o seu certificado.<br>
                            Nos cursos de videoaula com prática, após a compra você deverá agendar o seu horário (dentro do prazo de 12 meses) pelo whatsapp- 11-972052006. Sua prática será individual e personalizada. 
                        </p>
                    </div>

                    
                    <div class="--title"><span>Quais os formatos de cursos online que a Fonoaudialogo dispõe?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            A Fonoaudiálogo conta com:
                            <ul>
                                <li>Cursos livres de curta duração, com carga horária variada.</li>
                                <li>Cursos de Formação com 80 horas/aula.</li>
                                <li>Cursos de Capacitação com 40 horas/aula.</li>
                                <li>Cursos de aprimoramento, com prática opcional, com 120 horas/aula.</li>
                                <li>Cursos de Especialização com 360 horas/aula ou 500 horas/aula, semipresenciais e presenciais, reconhecidos pelo MEC em parceria com a Faculdade INSPIRAR.</li>
                            </ul>
                        </p>
                    </div>

                    <div class="--title"><span>Como faço em caso de dificuldades de acesso?</span><img src="img/icons/back.svg"/></div>
                    <div class="--content">
                        <p>
                            Nossa equipe está a disposição para te ajudar. Entre em contato conosco por
                            Skype: Fonoaudialogo, e-mail - fonoaudialogo@fonoaudialogo.com.br, whatsapp - 11-97205-2006 ou Instagran @fonoaudialogo
                        </p>
                    </div>

                </div>
                <div class="-col-3 --acordeon"></div>    

        </div>

        <style>

            #faq .--title
            {
                float:left;
                text-align: left;
                width:100%;
                margin-top: .25em;
                padding: .5em 1em;
                cursor: pointer;
                color: @FONT;
                border: 1px solid @DARK2;
                background: @BACKGROUND;
            }

            #faq .--title img {
                float:right;
                height:.75em;
                width:.75em;
                margin-top:.25em;
                transform: rotate(-90deg) ;
                opacity:.64;
            }

            #faq .--content
            {
                float:left;
                text-align: left;
                max-height:0;
                overflow: hidden;
                width: 100%;
                padding: 0 1em;
                border:none;
                color: @FONTAA;
                border: 0px solid transparent;
                background: @BACKGROUND;
            }
            #faq .--content ul li {
                list-style-type: circle;
            }

        </style>
        <script>
            $("#faq .--title").each((Title, i) => Title.on('click', function(){
                $("#faq .--title").each((Title, j) => {
                    if(i!=j) Title.anime({ color:"@FONT" }, AL/2);
                    else Title.anime({ color:"@SPAN" }, AL/2);  
                });
                $("#faq .--content").each((Content, j) => {
                    if(i!=j) Content.anime({ maxHeight:0, padding:"0 1em", margin:0, border:"0px solid transparent" }, AL/2);
                    else Content.anime({ maxHeight:"100vh", padding:".25em 1em", margin:".25em 0", border: '1px solid @DARK2' }, AL, AL/2);  
                });
                $("#faq .--title img").each((Img, j) => {
                    if(i!=j) Img.anime({ transform:"rotate(-90deg)" });
                })
                this.get("img")[0].anime({ transform:"rotate(90deg)" });

            }))
        </script>
    </div>
</template>