<template>
    <div class="-row -content-center" style="padding:8em 0;background:@BOXGROUND;color:@FOREGROUND">
        <nav class="-row -flex" style="margin-top: 8em;">
            <div class="-col-3"></div>
            <div class="-left -col-3 -content-left">
                Acompanhe a Fonoaudiálogo nas redes sociais:<br><br>
                facebook: <a href="https://www.facebook.com/fonoaudialogocursos">#fonoaudialogocursos</a><br>
                instagram: <a href="https://www.instagram.com/fonoaudialogo">@fonoaudialogo</a>
            </div>

            <div class="-left -col-3 -content-right">
                Entre em contato:<br><br>
                <a href="callto:+551136758579">+55 (11) 3675-8579</a><br>
                <a href="callto:+5511972052006">+55 (11) 9.7205-2006</a><br>
                <a href="mailto:fonoaudialogo@fonoaudialogo.com.br">fonoaudialogo@fonoaudialogo.com.br</a>
            </div>
            <div class="-col-3"></div>

        </nav>
        <div style="color:@LIGHT4;font-size:.7em;margin-top:8em">© Copyright ©2020 Todos os direitos reservados | FonoAudiálogo by @US</div>
    </div>

    <style>
        #app footer a {
            text-decoration: none;
            color: @BACKGROUND;
        }
    </style>
</template>