<template>

    <!-- BLUE BAR -->
    <div class="-row -flex --fixed-bar" style="background:@SPAN;height:3em">
        <span class="-col-2"></span>
        <span class="-col-4 -content-left">Bem-vindo ao FonoAudiálogo!</span>
        <span class="-col-4 -content-right">(11) 3675 8579</span>
        <span class="-col-2"></span>
    </div>

    <!-- FLOATING BAR -->
    <div class="-absolute -col-8 --floating-bar" style="top:4em;left:16.6%;">
        <img class="-left" style="height:3em;padding:.5em;transform:translateX(8em);margin-top:.25em" src="img/icons/brand/iconw.png"/>
        <nav class="-right -flex" style="transform:translateX(-8em);padding:.75em 0">
            <span class="-left -only-pointer">HOME</span>
            <span class="-left -only-pointer">QUEM SOMOS</span>
            <span class="-left -only-pointer">COMO FUNCIONA</span>
            <span class="-left -only-pointer">CURSOS</span>
            <span class="-left -only-pointer">PÓS-GRADUAÇÃO</span>
            <span class="-left -only-pointer">CONTATO</span>
            <span class="-left -only-pointer">LOGIN</span>
            <div class="-left -pointer">
                <span style="padding:.5em 1em;border-radius:2em;background:@STRONG">CADASTRE-SE</span>
            </div>
        </nav>
    </div>

    <!-- STYLESHEET -->
    <style>
        header .--floating-bar span.-only-pointer
        {
            padding:.25em .5em;
            border:2px solid transparent;
        }
        
        header .--floating-bar span.-only-pointer:hover
        {
            border-bottom-color: @BACKGROUND;
        }
    </style>

    <!-- SCRIPTS -->
    <script>
        ScrollPool.add(NULL => {
            const
            el = $("header .--floating-bar")[0]
            ;
            if(window.scrollY < 100){
                el.stop().anime({ transform: "translateY(0)" })
                $("img", el)[0].stop().anime({ transform: "translateX(8em)" });//.then(i => i.src = "img/icons/brand/iconw.png")
                $("div.-pointer", el)[0].stop().anime({ transform: "translateX(0)" })
                $("header .--fixed-bar .-col-4").stop().anime({ opacity: 1 })
            } else {
                el.stop().anime({ transform: "translateY(-4.25em)" })
                $("img", el)[0].stop().anime({ transform: "translateX(4em)" });//.then(i => i.src = "img/logos/logow.png")
                $("div.-pointer", el)[0].stop().anime({ transform: "translateX(8em)" })
                $("header .--fixed-bar .-col-4").stop().anime({ opacity: 0 })
            }
        })
    </script>

    
</template>
