<template>
    <div class="-row" style="padding:8em 0; background:@STRONG;color:@WHITE">
        
        <!-- TITLE -->
        <div class="-row -content-center">
            <b style="font-size:4em;opacity:.05">CURSOS EM DESTAQUE</b></br>
            <div class="-roboto-bold" style="font-size:1.5em; transform:translateY(-1.5em)">GARANTA SUA VAGA</div>
        </div>
        
        <!-- STAGE -->
        <section class="-left -row --stage" style="padding:2em;background-image: radial-gradient(@DARK3, transparent, transparent);z-index:0">
            
            <!-- ROW 1 -->
            <div class="-row -flex">
                <div class="-col-2"></div>
                <div class="-col-8 --row">

                </div>
                <div class="-col-2"></div>
            </div>
            
        </section>

    </div>

    <!-- SCRIPT -->
    <script>   
    
        const
        Samples = 4
        , MainCourses = Array()
        , Stage = $(".--main-courses .--stage").at()
        , MainCoursesScrollFunction = NULL => {
            let
            el = $(".--main-courses")[0];
            if(el.inPage()){
                $(".--post-degree-tile").each((x, i) => setTimeout(x => x.appear(ANIMATION_LENGTH), ANIMATION_LENGTH/2*i, x))
                ScrollPool.drop(MainCoursesScrollFunction)
            }
            $(".--main-courses")[0].appear()
        }
        ;
        ScrollPool.add(MainCoursesScrollFunction);

        Router.call("maincoursestile").then(T => {
            T = T.data;
            Router.call("maincoursesdata").then(data => {
                data.data.json().each(x => MainCourses.push(x));
                if(!MainCourses.length) return $(".--main-courses")[0].desappear()&&app.error();
                MainCourses.each((x, i) => {
                    if(i >= Samples) return;
                    let
                    e = T.prepare(bind({ 
                        IMAGE: API_HOSTNAME + "/var/courses_images/" + x.banner_imagem
                        , NAME: x.banner_nome
                        , TEXT: x.banner_texto
                        , URL: x.banner_url
                    }, app.color_pallete)).morph()[0].css({ opacity:0 }).on("click", function(){
                        app.error("Ops! Ainda construindo umas coisas legais por aqui...");
                    })
                    $(".--row", Stage)[0].app(e);
                })
            })
        })        
    </script>

</template>