<template>
    <form class="-row" action="javascript:void(0)" style="background-image:url('img/img_bg_2.jpg');background-attachment: fixed;background-size:cover;" onsubmit="window.NewsletterFormSender(this)">
        <div class="-absolute -zero -wrapper" style="background:@DARK3"></div>
        <div class="-row -content-center -flex" style="padding:8em;">
            <div class="-col-4"></div>
            <div class="-col-4" style="color:@WHITE">
                <h3 style="padding:.75em;font-size:2em">Assine nossa newsletter</h3>
                <div class="-row">Não perca nenhuma novidade da FonoAudiálogo. Assine nossa newsletter.</div>
                <div class="-row" style="padding:3em">
                    <input class="-col-9 -left" name="mail" type="email" style="transform:translateX(-.5em);padding:1em;color:@WHITE;background:none;border:1px solid transparent;border-bottom-color:@WHITE" placeholder="Qual é seu e-mail?"/>
                    <input name="channel" type="hidden" value="site"/>
                    <input class="-col-3 -pointer -left" type="submit" style="background:@DARK2;padding:1em;border-radius:2em;color:@WHITE;border:1px solid @WHITE" value="ENVIAR"/>
                </div>
            </div>
            <div class="-col-4"></div>
        </div>
    </form>
    <style>
        .--newsletter form input::placeholder { color: @LIGHT4 }
    </style>
    <script>
        window.
        NewsletterFormSender = form => {
            app.error("Ops! Ainda não é possível se inscrever aqui... =/ ("+form.json().json()+")")
        }
    </script>
</template>