<template> 

    <div id="faq" class="-row" style="background:@FOREGROUND;">
        <div class="-row" style="height:35vh; background-image:url(img/img_bg_2.jpg);background-size:cover;background-position: center center"></div>
        <div class="-row -content-center" style="padding:8em 0 40vh 0">
            <!-- TITLE -->
            <div class="-row -content-center">
                <b style="font-size:4em;opacity:.05">QUEM SOMOS?</b></br>
                <div class="-roboto-bold" style="font-size:1.5em; transform:translateY(-1.5em);color:@SPAN">QUEM SOMOS?</div>
            </div>
            
            <div class="-flex">
                <div class="-col-2 --acordeon"></div>
                <div class="-col-8 --acordeon" style="padding:2em;border: 1px solid @DARK2;">

                    A Fonoaudiálogo iniciou suas atividades em 2000 com a proposta de ser um espaço para profissionais que almejam manter-se atualizados, compartilhar seus conhecimentos e divulgar suas pesquisas.<br>
                    
                    Temos como missão  desenvolver, divulgar e promover conhecimentos que auxiliem os profissionais da Fonoaudiologia, e das áreas de saúde e educação, a exercerem sua profissão com extrema qualidade e atualização por meio da educação continuada.<br>
                    
                    Nosso princípio é tratar com singularidade nossos clientes, professores e parceiros, buscando sempre oferecer o que há de mais moderno e eficaz no Ensino a Distância (EAD), garantindo a excelência de nossos cursos, sempre respeitando as condições financeiras de nossos clientes.<br>
                    
                    A Fonoaudialogo Educação Continuada continuará trabalhando intensamente, para ampliar a qualificação dos profissionais de todo o Brasil, valorizando a credibilidade dos atendimentos à população em Fonoaudiologia, da Educação e de outras áreas da saúde.<br>
                </div>
                <div class="-col-2 --acordeon"></div>
            </div>
        </div>
    </div>

</template>