<template>

    <!-- HOME SECTION -->
    <section class="-row -left -content-center --home" style="background:@FOREGROUND">
        
        <!-- BANNER -->
        <div class="-row --banner"></div>

        <!-- SEARCH BAR -->
        <div class="-row --search-bar" style="z-index:100"></div>

        <!-- CATEGORIES -->
        <div class="-row --categories"></div>

        <!-- OPEN COURSES -->
        <div class="-row --open-courses"></div>

        <!-- INSTITUTIONAL -->
        <div class="-row --post-degrees"></div>

        <!-- POST DEGREE SEM FUNDO AZUL -->
        <div class="-row --main-courses"></div>

        <!-- NEWSLETTER -->
        <div class="-row --newsletter"></div>

    </section>

    <!-- HEADER COMPONENT -->
    <header class="-fixed -zero -row" style="color:@BACKGROUND;z-index:100"></header>
    
    <!-- FOOTER -->
    <footer class="-row"></footer>
    
    <!-- STYLE -->
    <style>
        .--home .-row 
        {
            position: relative;
            float: left;
            display:inline;
        }
    </style>
</template>